.mural {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sem-pensamentos {
  text-align: center;
  padding: 3rem 0;
  background-color: #6BD1FF;
  border: 1px solid #479bc1;
  color: beige;
  border-radius: 8px;
  box-sizing: border-box;
}
